.body{
    background-color: #000000;
    font-family: roboto, sans-serif;
    font-size: 12;
    color: #FFFFFF;
}
.center-flex{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.searchBar{
    text-align: center;
}